{% extends "_base.html" %}
{% load crispy_forms_tags %}
{% load i18n %}
{% block page_title %}
Login
{% endblock %}
{% block content %}

<!-- Main Wrapper Start -->
<div class="wrapper">

    <!-- Breadcrumb area Start -->
    <div class="breadcrumb-area bg-color ptb--90" data-bg-color="#f6f6f6">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="d-flex justify-content-between align-items-center flex-sm-row flex-column">
                        <h1 class="page-title">ورود یا ثبت نام</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Breadcrumb area End -->

    <!-- Main Content Wrapper Start -->
    <div class="main-content-wrapper">
        <div class="page-content-inner pt--75 pb--80">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 mb-sm--50">
                        <div class="login-box">

                            <h1>ورود</h1>
                            <form class="form form--login">
                                <div class="form__group mb--20">
                                    <form action="" method="POST">
                                        {% csrf_token %}
                                        {{ form|crispy }}

                                        <input type="submit" value="Login" class="btn-submit">
                                    </form>
                                    <br>
                                </div>


                            </form>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="register-box">
                            <h4 class="heading__tertiary mb--30">ثبت نام</h4>
                            <form class="form form--login">
                                <div class="form__group mb--20">
                                    <label class="form__label form__label--2" for="email">ایمیل شما <span
                                            class="required">*</span></label>
                                    <input type="email" class="form__input form__input--2" id="email" name="email">
                                </div>
                                <div class="form__group mb--20">
                                    <label class="form__label form__label--2" for="register_password">رمز عبور <span
                                            class="required">*</span></label>
                                    <input type="password" class="form__input form__input--2" id="register_password"
                                        name="register_password">
                                </div>
                                <div class="form__group">
                                    <input type="submit" value="ثبت نام" class="btn btn-submit btn-style-1">
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Main Content Wrapper Start -->


    <!-- Search form Popup Start -->
    <div class="searchform__popup" id="searchForm">
        <a href="#" class="btn-close"><i class="flaticon flaticon-cross"></i></a>
        <div class="searchform__body">
            <p>Start typing and press Enter to search</p>
            <form class="searchform">
                <input type="text" name="popup-search" id="popup-search" class="searchform__input"
                    placeholder="Search Entire Store...">
                <button type="submit" class="searchform__submit"><i
                        class="flaticon flaticon-magnifying-glass-icon"></i></button>
            </form>
        </div>
    </div>
    <!-- Search form Popup End -->


</div>
<!-- Main Wrapper End -->


{% endblock %}