[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
environs = "*"
django-crispy-forms = "*"
crispy-bootstrap4 = "*"
django-allauth = "*"
django-environ = "*"
psycopg2-binary = "*"
django-rosetta = "*"
python-dotenv = "*"

[dev-packages]

[requires]
python_version = "3.10"
