-i https://pypi.org/simple
asgiref==3.8.1; python_version >= '3.8'
crispy-bootstrap4==2024.1; python_version >= '3.8'
django==5.0.7; python_version >= '3.10'
django-allauth==0.63.6; python_version >= '3.7'
django-crispy-forms==2.2; python_version >= '3.8'
django-environ==0.11.2; python_version >= '3.6' and python_version < '4'
environs==11.0.0; python_version >= '3.8'
marshmallow==3.21.3; python_version >= '3.8'
packaging==24.1; python_version >= '3.8'
python-dotenv==1.0.1; python_version >= '3.8'
sqlparse==0.5.0; python_version >= '3.8'
typing-extensions==4.12.2; python_version < '3.11'
